{% extends 'admin/page-master.twig'%}

{% block header %}
				<div class="geex-content__header__content">
					<h2 class="geex-content__header__title">Dashboard </h2>
					<p class="geex-content__header__subtitle">Form Elements is used to style and format the input field</p>
				</div>
{% endblock %}


{% block content %}

{% endblock %}


{% block script %}

{% endblock %}